.card {
  width: 200px;
  padding: 1rem;
  background-color: lightblue;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  text-shadow: 0px 0px 5px gray;
  transition: 0.3s ease;
}

.card:hover {
  transition: 0.3s ease;
  filter: drop-shadow(0 0 2rem rgb(140, 222, 250));
}

.cardImg {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  background-color: white;
  border-radius: inherit;
  box-shadow: inherit;
}
